/*
    Tema 1: Se incluiran los siguientes parametros en los div.
        - Color
        - Fuente
        - Border Radius
        - Shadow box
 */

$container_color: yellowgreen;

$color_base : red;

$color_important: darkred;

$color_warning: pink;

$principal_font: sans-serif;

$secundary_font: arial;

$box_shadow: 5px 5px 5px;